{% if page.meta.page_info != false %}
<div class="page-info">
  <span class="page-info__item page-info__stars">
    <span class="page-info__label">
      有用的话请给我个
      <a href="https://github.com/bfyes/bfyes.github.io/stargazers">star</a>
      =&gt;
    </span>
    <span class="page-info__value">
      <a href="https://github.com/bfyes/bfyes.github.io/stargazers" aria-label="GitHub Stars">
        <img
          alt="Stars"
          src="https://img.shields.io/github/stars/bfyes/bfyes.github.io?label=Stars&amp;style=flat"
        >
      </a>
    </span>
  </span>
  <span class="page-info__item" id="busuanzi_container_site_pv">
    <span class="page-info__label">本站总浏览</span>
    <span class="page-info__value"><span id="busuanzi_value_site_pv"></span></span>
  </span>
</div>

<script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endif %}
